{% load static %}


{% block content %}
{% load crispy_forms_tags %}


{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login.css' %}">
  
    <title>Login</title>
</head>
<body>
    
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            
            <div class="card-body">
                <h2>Inicia Sesion</h2>
                <hr>
                <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
            
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-felx justify-content-end">
                <a class="btn btn-primary" href="{% url 'Form' %}">Cancelar</a>
                 &nbsp;
                <button type="submit" id="submit" class="btn btn-secondary">Iniciar</button>
                <p>Al registrarte, aceptas nuestras Condiciones de uso   y Política de privacidad.</p>
                <p>¿No tienes una cuenta? <a class="link" href="{% url 'register' %}">Registrate </a></p>
            </div>
        </form>
        
    </div>
</div>
</div>
</div>   


</body>
</html>


{% endblock %}

</body>
</html>
