{% load static %}


{% block content %}
{% load crispy_forms_tags %}


{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Login.css' %}">
 
    <title>Document</title>
</head>
<body>
    
<br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            
            <div class="card-body">
                <h2>Registrarse</h2>
                <hr>
                <form action="{% url 'register' %}" method="POST" >
            
                {% csrf_token %}
                {{ form | crispy }}
                
                <p>Quieres volver a iniciar Sesion? <a class="link" href="{% url 'login' %}">Login</a></p>
                <a class="btn btn-primary" href="{% url 'Form' %}">Cancelar</a>
                 &nbsp;
                <input type="submit" value="Guardar" class="btn btn-primary" >

            </div>
        </form>
        {{mensaje}}
    </div>
</div>
</div>
</div>   


</body>
</html>


{% endblock %}

</body>
</html>