{% extends 'index.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'perfil.css' %}">

<!-- Profile -->
<div class="profile">
	<img src="{{ user.perfil.image.url }}">
	<h2>@{{ user.username }}</h2>
	
	<p>¿Quieres Vender? <a class="link" href="{% url 'agregar_personas' %}"><h2>Ingresa</h2></a></p>
	
</div>


<div class="follow">
	<div>
		<h5>Productos</h5>
		<p>{{ user.product.count }}</p>
	</div>
	<div>
		<h5>Calificacion Buena</h5>
		<p>0</p>

	</div>
	<div>
		<h5>Calificaciones Malas</h5>
		<p>0</p>
	</div>
</div>
    <div>
     <h2>Descripcion</h2>
	 <p>{{ user.descripcion }}</p>
	</div>
	

	
	
	
    


{{ block.super }}
<button><a class="follow-button" href="{ url 'editar_Producto' p.pk }">Edita tu Producto</a></button>
{% endblock %}
