{% extends 'plantillas.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}



<!-- Profile -->
<div class="profile">
	<img src="{{ user.perfil.image.url }}">
	<h2>@{{ user.username }}</h2>
	<button><a class="follow-button" href="{% url 'agregar_personas' %}">contacto</a></button>
</div>


<div class="follow">
	<div>
		<h5>Productos</h5>
		<p>{{ user.product.count }}</p>
	</div>
	<div>
		<h5>Calificacion Buena</h5>
		<p>0</p>

	</div>
	<div>
		<h5>Calificaciones Malas</h5>
		<p>0</p>
	</div>
</div>
    <div>
     <h2>Descripcion</h2>
	 <p>{{ user.product.descripcion.count }}</p>
	</div>	



{{ block.super }}
{% endblock %}
