{% extends 'plantillas.html' %}
<!DOCTYPE html>
{%load static %}
{% block content %}
{% load humanize %}
{% load crispy_forms_tags %}

<html lang="en">
  <head>
    
    <link rel="stylesheet" href="{% static 'perfil.css' %}">

	
    
  </head>
  <body class="goto-here">

    <!-- END nav -->

    
    <div class="profile">
		<img src="{{ user.perfil.image.url }}">
		<h2>@{{ user.username }}</h2>
		
		<p>¿Quieres Vender? <a class="link" href="{% url 'agregar_personas' %}"><h2>Ingresa</h2></a></p>
		
	</div>
	
	<div class="follow">
		<div>
			<h5>Productos</h5>
			<p>{{ user.product.count }}</p>
		</div>
		<div>
			<h5>Calificacion Buena</h5>
			<p>0</p>
	
		</div>
		<div>
			<h5>Calificaciones Malas</h5>
			<p>0</p>
		</div>
	</div>
		

	<div class="container">
			<div class="ele">
				<h2>Descripcion</h2>
				<p>{{ user.descripcion }}</p>
			   </div>

        
    		<div class="row">
				{% for post in product %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="product">
						<a href="{% url 'verProducto' %}" class="img-prod"><img class="img-fluid" src="{{ post.image.url }}" alt="Colorlib Template">
							<div class="overlay"></div>
						</a>
						<div class="text py-3 pb-4 px-3 text-center">
							<h3><a href="#">{{post.nombre}}</a></h3>
							<div class="d-flex">
								<div class="pricing">
									<time data-time="#">{{ post.timestamp| naturaltime }}</time>
									<p class="price"><span class="price-sale">{{post.precio| intcomma}}</span></p>
									<div class="post">{{ post.descripcion }}</div>
								</div>
							</div>
							
							
						
    						
						</div>
					</div>
					 
		
    			</div> 
				{% endfor %}   
				<div class="col-md-6 col-lg-3 ftco-animate">

    				
    					
    					
					<h3><a href="{% url 'agregar_producto' %}" class="btn btn-primary py-3 px-4">Agregar Producto</a></h3>
					
						
					
					
				
			</div>
				
			
    	</div>
	</div>	
		
	
		
		
		
		
	
	
{% endblock %}
	 
  </body>
</html>