{% extends 'index.html' %}
<!DOCTYPE html>
{%load static %}
{% load crispy_forms_tags %}
{# Cargamos la librería #}
  {% load bootstrap4 %}
 
  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Widget Tweaks #}
  {% load widget_tweaks %}

<html lang="en">

    {% block content %}
    <section class="ftco-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-7 ftco-animate">
                          <form action="#" class="billing-form">
                              <h3 class="mb-4 billing-heading">Agregar Producto</h3>
                    
                        {% csrf_token %}
                        {{ formulario | crispy }}
                        <div class="d-felx justify-content-end">
                            <a class="btn btn-primary" href="{% url 'Form' %}">Cancelar</a>
                             &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
    
                  
                </form><!-- END -->
                      </div>
                      
                
                </div>
            </div> <!-- .col-md-8 -->
          </div>
        </div>
      </section> <!-- .section -->
      
     

    {% endblock %}

		

   
</html>